/* Animation for the popup (for opening) */
@keyframes popupanimationOpen {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 100%;
    height: 3px;
  }
  100% {
    width: 100%;
  }
}

/* Animation for closing  */
@keyframes popupanimationClose {
  0% {
    width: 100%;
  }
  50% {
    width: 100%;
    height: 0%;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: var(--color-main);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  overflow: hidden;
}

.aboutvisible {
  visibility: visible;
  animation: popupanimationOpen 1s ease-in-out; 
}

.aboutclosing {
  animation: popupanimationClose 1s ease-in-out; 
  visibility: visible;
}


.about-me {
  display: none;
  background-color: var(--color-main);
}

.somecont {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main);
}

.x {
  position: fixed;
  top: 25px;
  right: 25px;
}

.x svg {
  width: 30px;
  height: 30px;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: normal;
    height: 550px;
    z-index: 20;
    background: none;
  }
  .about-me {
    width: 47%;
    display: block;
  }
  .about-me img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .somecont {
    position: relative;
    width: 53%;
    background-color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .aboutcont{
    height: 80%;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }
  .about-h1{
    align-self: flex-start;
    font-size: var(--size-2xl);
    text-transform: capitalize;
  }
  .about-h2{
    align-self: flex-start;
    font-size: var(--size-lg);
    text-transform: capitalize;
  }
  .about-p{
    text-transform: capitalize;
    line-height: 1.7;
    padding-top: 30px;
  }
  .about-sociol{
    padding-top: 57px;
    align-self: flex-start;
  }
  .about-sociol a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--color-text);
    margin: 9px;
    border-radius: 50%;
  }
  .about-sociol a i{
    font-size: var(--size-lg);
    color: var(--color-text2);
    opacity: 0.9;
  }
  .x {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}

/* lg */
@media(min-width: 1024px){
  .about {
    height: 510px;
  }
  .about-me {
    width: 40%;
  }
  .somecont {
    width: 60%;
  }
  .x {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}

/* xl */
/* @media(min-width: 1280px){} */

/* 2xl */
@media(min-width: 1536px){
  .about {
    height: 600px;
  }
  .x {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}
