footer {
  width: 100%;
  background-color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 200px;
}

.links-sociol-footer a{
  text-decoration: none;
  padding: 10px;
  background-color: var(--color-hover2);
  margin: 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.links-sociol-footer a:hover{
  background-color: var(--color-hover);
}
.links-sociol-footer a i{
  font-size: var(--size-lg);
  color: var(--color-text2);
  opacity: 0.9;
}

/* xs */
/* @media(min-width: 475px){} */

/* sm */
/* @media(min-width: 640px){} */

/* md */
@media(min-width: 768px){
  footer {
    width: 100%;
    background-color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

/* lg */
/* @media(min-width: 1024px){} */

/* xl */
/* @media(min-width: 1280px){} */

/* 2xl */
/* @media(min-width: 1536px){} */