.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 20;
}
.logo img{
  height: 60px;
}

.header--menu {
  display: none;
}
.line{
  height: 35px;
  border-radius: 10px;
  width: 2px;
  background-color:var(--color-hover);
}
.header--bars {
  color: var(--color-main);
  width: var(--size-4xl);
  height: var(--size-4xl);
  display: block;
}

/* xs */
/* @media(min-width: 475px){} */

/* sm */
/* @media(min-width: 640px){} */

/* md */
@media (min-width: 768px) {
  .header--menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }
  .header--link {
    font-size: var(--size-sm);
    text-decoration: none;
    font-weight: 600;
    color: var(--color-hover2);
    transition: color 0.3s;
    text-transform: capitalize;
  }
  .header--link:hover {
    color: var(--color-main);
  }
  .header--sun {
    display: block;
    color: var(--color-main);
    width: var(--size-xl);
    height: var(--size-xl);
    transition: color 0.3s;
  }
  .header--sun:hover{
    color: var(--color-hover2);
  }
  .header--resume {
    font-size: var(--size-xs);
  }
  .header--bars {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header--link {
    font-size: var(--size-lg);
  }
  .header--sun {
    width: var(--size-xl);
    height: var(--size-xl);
  }
  .header--resume {
    font-size: var(--size-sm);
  }
  .header--bars {
    display: none;
  }
}


.mobile-nav{
  position: absolute;
  border: 2px solid green;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: var(--color-main);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mobile-menu{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.mobile-nav-link{
  font-size: var(--size-sm);
  text-decoration: none;
  font-weight: 600;
  color: var(--color-text);
}
.mobile-nav-link:hover{
  color: var(--color-main);
}
.mobile-nav-sun{
  display: block;
  color: var(--color-1);
  width: var(--size-xl);
  height: var(--size-xl);
  transition: color 0.3s;
}
.mobile-nav-btn{
  font-size: var(--size-sm);
}
.nav-x{
    position: fixed;
    top: 40px;
    right: 40px;
}
.nav-x svg {
  width: 30px;
  height: 30px;
}
/* xl */
/* @media(min-width: 1280px){} */

/* 2xl */
/* @media(min-width: 1536px){} */



