.hero{
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}   
.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.50rem;
}
.hero--subtitle{
    font-size: var(--size-base);
    color: var(--color-hover2);
}
.hero--title{
    color: var(--color-hover2);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.05;
    line-height: 0.9;
    position: relative;
}
.hero--title::before{
    content: 'digitel markiting expert';
    position: absolute;
    color: var(--color-hover);
    top: -4px;
    left: -4px;
}
.hero--description{
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--color-text);
}
.hero-links-sociol a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--color-hover2);
    margin: 9px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  .hero-links-sociol a:hover{
    background-color: var(--color-hover);
}
  .hero-links-sociol a i{
    font-size: var(--size-lg);
    color: var(--color-text2);
    opacity: 0.9;
  }
.hero--btn{
    text-transform: capitalize;
    font-size: var(--size-sm);
}

/* xs */
@media(min-width: 475px){
    .content{
        gap: 1rem;
    }
    .hero--subtitle{
        font-size: var(--size-lg);
    }
    .hero--title{
        font-size: var(--size-5xl);
    }
    .hero--description{
        font-size: var(--size-base);
    }
    .hero--btn{
        font-size: var(--size-base);
    }
}

/* sm */
/* @media(min-width: 640px){} */

/* md */
/* @media(min-width: 768px){} */

/* lg */
@media(min-width: 1024px){
    .content{
    margin-top: 1.5rem;
    }
    .hero--subtitle{
        font-size: var(--size-2xl);
    }
    .hero--title{
        font-size: var(--size-7xl);
    }
    .hero--description{
        font-size: var(--size-lg);
    }
    .hero--btn{
        font-size: var(--size-lg);
    }
}

/* xl */
/* @media(min-width: 1280px){} */

/* 2xl */
@media(min-width: 1536px){
    .content{
        gap: 2rem;
    }
    .hero--subtitle{
        font-size: var(--size-4xl);
    }
    .hero--title{
        font-size: var(--size-8xl);
    }
    .hero--description{
        font-size: var(--size-xl);
    }
    .hero--btn{
        font-size: var(--size-xl);
    }
}



