
.Projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projectsh1{
  font-size: 30px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 10px;
}
.navigation{
  /* border: 2px solid rgb(166, 122, 33); */
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 7px;
  margin: 5px;
  margin-bottom: 30px;
}
.navigation button{
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 500;
}
.proj-cont h3{
  font-size: 20px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 3px;
}
.proj-cont h4{
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 3px;
}

.projects-pics {
  display: grid;
  grid-template-columns: 1fr;
  gap: 17px;
  /* border: 2px solid red; */
  width: 90%;
}

.proj-cont {
  /* border: 2px solid rgb(0, 255, 64); */
  position: relative;
}

.img-warper {
  position: relative; 
  display: inline-block;
  width: 100%;
  height: 80%;
}

.proj-cont img {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(3, 4, 3);
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.overlay i {
  font-size: 20px;
  color: white;
} 
.img-warper:hover .overlay {
  opacity: 1;
}


/* xs */
/* @media(min-width: 475px){} */

/* sm */
/* @media(min-width: 640px){} */

/* md */
@media(min-width: 768px){
  
.Projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projectsh1{
  font-size: 30px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 10px;
}
.navigation{
  /* border: 2px solid rgb(166, 122, 33); */
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 77px;
  padding: 10px;
  margin: 15px;
  margin-bottom: 30px;
}
.navigation button{
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 500;
}
.proj-cont h3{
  font-size: 20px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 3px;
}
.proj-cont h4{
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 3px;
}

.projects-pics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  /* border: 2px solid red; */
  width: 80%;
}

.proj-cont {
  /* border: 2px solid rgb(0, 255, 64); */
  position: relative;
}

.img-warper {
  position: relative; 
  display: inline-block;
  width: 100%;
  height: 83%;
}

.proj-cont img {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(3, 4, 3);
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.overlay i {
  font-size: 20px;
  color: white;
} 
.img-warper:hover .overlay {
  opacity: 1;
}
}

/* lg */
@media(min-width: 1024px){
  .projects-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    /* border: 2px solid red; */
    width: 80%;
  }
}
  

/* xl */
/* @media(min-width: 1280px){} */

/* 2xl */
/* @media(min-width: 1536px){} */