:root {
  /* --color-dark: #681b33; */
  --color-main: #ffc21a;
  --color-text: #121212;
  --color-hover: #e0a500;
  --color-hover2: #424242;
  --color-text2: #ffffff;

  /* sizes */
  --size-xxs: 0.05rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;
  background-color: var(--color-text2);
}


picture,
video,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--color-hover2);
}


